/**
 *
 * app.scss 文件作用
 * @author hurong<353486474@QQ.COM>
 * @date 2018/6/2
 *
 * @内容 作用
 * @内容 作用
 */
html,body{
  height: 100%;
  margin: 0;
}
div{
  box-sizing: border-box;
}
.app{
  height: 100%;
  min-height: 100vh;
}
.search_page{
  width: auto;
  box-sizing: content-box;
  min-height: 100%;
  padding: 0 96px;
  background-image: url(../../assets/Images/背景.jpg);
  background-repeat: repeat;
  background-size: cover;
}
.search_container{
  width: 100%;
  min-width: 1000px;
}
@font-face {
  font-family: 'anticon' ;
  src: url(../../assets/fonts/font_148784_v4ggb6wrjmkotj4i.woff) ;
  src: url(../../assets/fonts/font_148784_v4ggb6wrjmkotj4i.woff)  format('woff') ,url(../../assets/fonts/font_148784_v4ggb6wrjmkotj4i.ttf) format('truetype');
}
