@font-face {
  font-family: 'anticon' ;
  src: url(./assets/fonts/font_148784_v4ggb6wrjmkotj4i.woff) ;
  src: url(./assets/fonts/font_148784_v4ggb6wrjmkotj4i.woff)  format('woff') ,url(./assets/fonts/font_148784_v4ggb6wrjmkotj4i.ttf) format('truetype');
}
